body{
    margin: 0;
    padding: 0px;
    background-image: image-set("");
    width: 100%;
    background-color: #FFE7C1;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.Main--Container--1Div
.Main--Container--2Div{
    background-color: white;
    margin: 12px;
    border-top: 4px;
    border-bottom: 4px;
    border-right: 4px;
    border-left: 4px;
    border-color: #fdf2e0;
    border-style: solid;
    border-radius: 20px;
}
.Main--Container--3Div{
    display: flex;
    flex-direction: column;
    color: #8cffe4;
    align-items: center;
}
h1{
    margin: 10px;
}
p{
    font-size: 20px;
    text-align: center;
    color: #300000; 

}
input{
    background-color: rgba(0, 0, 255, 0.47);
    color: white;
    align-items: center;
    width: 90%;
    height: 20px;
    border-radius: 20px;
    margin: 10px 20px 20px 20px;
    border: 0px;
    opacity: 0.2;
}
button{
    background-color:#8cffe4;
    width: 90%;
    border-radius: 10px;
    height: 32px;
    margin: 20px;
    border: 1px;
    border-color: #300000;
    font-size: 24px;
}
button:hover{
    cursor: pointer;
}
#Resultado{
    color: #300000;
    margin: 32px;
}